PORT=3001
INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=admin-token
INFLUX_ORG=mini-pi-iot
INFLUX_BUCKET=iot
MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_TELEMETRY_TOPIC=industria40/sensores
MQTT_COMMAND_TOPIC=industria40/atuadores
FRONTEND_ORIGIN=http://localhost:5173
